@import 'src/global.scss';

.posts-table{
    margin: 0 auto;
    border-collapse: collapse;
    border: none;
    max-width: 60%;
}

.posts-table caption{
    background-color: $white;
    border-top-left-radius: $big-radius;
    border-top-right-radius: $big-radius;
    padding: 10px 0;
}

.posts-table tbody{
    background-color: $white;
}

.posts-table thead{
    background-color: $light-orange;
}

th, td{
    border: 1px solid lightgray;
    padding: 10px 20px;
}

tr:not(.table-head):hover{
    cursor: pointer;
    background-color: lightgray;
}