<main class="authorization-wrapper">
  <section class="form-container">
    <form action="">
      <article class="title-panel">
        <h1>Авторизация</h1>
      </article>
      <article class="input-panel">
        <input class="form-input" placeholder="Имя" type="text">
      </article>
      <article class="input-panel">
        <input class="form-input" placeholder="Пароль"  type="password">
      </article>
      <article class="submit-panel">
        <button type="submit" class="next-button">{{"войти" | uppercase}}</button>
      </article>
    </form>
  </section>
</main>
