$light-blue: #add8e6;
$blue: #399cbd;
$white: #fafafa;
$black: #000;
$orange: #FFBF00;
$black-orange: #FFA500;
$light-orange: #ffd7b5;
$red: #d12121;

$low-radius: 10px;
$big-radius: 20px;
$full-radius: 50px;