@import "global.scss";

@font-face {
    font-family: 'Roboto';
    src: url('assets/font/Roboto-Regular.ttf') format('truetype');
}

.main-wrapper{
    min-height: 100vh;
    background: linear-gradient(45deg, $blue, $light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.content-wrapper{
    margin: 70px 0 20px 0;
}

input:focus{
    outline: none;
}

.next-button{
    font-weight: bold;
    padding: 10px 20px;
    width: 100px;
    border-radius: $full-radius;
    background-color: $orange;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-property: all;
}

.next-button:hover{
    transform: scale(105%, 105%);
    background-color: $black-orange;
}

.next-button:disabled{
    transform: scale(100%, 100%);
    background-color: $light-orange;
    cursor: no-drop;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}